[Desktop Entry]
Name=Quick Random Counter
Comment=Random card drawing and display software
Exec=qcounter
Icon=qcounter_48x48.png
Categories=Graphics
Terminal=false
Type=Application
